.main-layout {
  position: relative;
  margin-top: 56px;
  padding-block: 110px 120px;
  background: #030303 50% 0 / 100% auto url(../../assets/image/main_bg.png) no-repeat;

  .weapons {
    &-tit-area {
      margin-bottom: 50px;
      font-weight: 800;
      font-size: 70px;
      color: #f2aa00;
      letter-spacing: -.018em;
      text-align: center;
    }

    &-list-area {
      position: relative;
      width: 1648px;
      height: 65px;
      max-width: 100%;
      padding: 0 64px;
      margin: 0 auto;
      box-sizing: border-box;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border-bottom: 1px solid rgb(255 255 255 / 20%);

      &-item {
        position: relative;
        display: flex;
        flex: 0 1 auto;
        align-items: center;
        width: auto;
        height: 100%;
        margin-right: 12px;

        a {
          padding: 0 40px;
          font-weight: 700;
          font-size: 16px;
          color: #777;
          transition: color 0.2s ease-in-out;

          &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: #fff;
            content: "";
            transform: scaleX(0);
            transition: .2s ease-in-out;
          }
        }

        &:hover {
          a {
            color: #fff;
            transition: color 0.2s ease-in-out;

            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    &-card-area {
      position: relative;
      padding: 0 64px;
    }

    &-card-list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px 14px;
      position: relative;
      transition: gap .2s ease-in-out;

      &-item {
        position: relative;
        flex: 0 1 calc(33.33333% - 10px);
        cursor: pointer;
      }
    }
  }
}