.modal {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  &-close {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 34px;
    height: 34px;
  }
  &-content {
    top: 30px;
    width: 1264px;
    max-height: 800px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(../../assets/image/modal-tit-bg.png) 100% 0 / cover no-repeat;
    padding-block: 56px;
    padding-inline: 160px;
    &-category-name {
      display: flex;
      position: absolute;
      align-items: center;
      top: 0;
      left: 0;
      height: 36px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        min-width: 192px;
        width: calc(100% + 28px);
        height: 100%;
        -webkit-border-before: 36px solid #222;
        border-block-start: 36px solid #222;
        -webkit-border-end: 36px solid transparent;
        border-inline-end: 36px solid transparent;
      }
      em {
        position: absolute;
        top: 3px;
        left: 15px;
        white-space: nowrap;
        z-index: 2;
      }
    }
    &-tit {
      font-weight: 900;
      font-size: 70px;
      color: #000;
    }
    &-bullet {
      display: flex;
      align-items: center;
      &-name {
        display: inline-block;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 700;
        color: #555;
      }
    }
  }

  &-body {
    padding-bottom: 10px;
    background-color: #fff;
    &-gun-box {
      position: relative;
      margin: 0 auto;
      margin: 0 10px;
      height: 527px;
      padding: 70px;
      background: url(../../assets/image/modal-gun-box-bg.png) 100% / cover no-repeat;
      box-sizing: border-box;
      &-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &-gun-parts {
      position: relative;
      margin: 0 auto;
      margin: 0 10px;
      background: url(../../assets/image/modal-gunparts-bg.png) 100% / cover no-repeat;
      padding: 79px 0;
      &-box {
        display: flex;
        align-items: center;
        gap: 112px;
        padding-left: 80px;
        margin-bottom: 40px;
      }
      &-tit {
        font-weight: 900;
        font-size: 46px;
      }
      &-list {
        display: flex;
        align-items: center;
      }
      &-item {
        padding: 3px 32px 4px 32px;
        font-weight: 700;
        font-size: 16px;
        color: #444;
        border-radius: 90px;
        cursor: pointer;

        &.is-active {
          color: #fff;
          border: 2px solid #fff;
        }
      }
    }
  }

  &-weapon-parts {
    &-area {
      margin-left: 80px !important;
    }

    &-item {
      position: relative;
      width: 368px;
      height: auto;
      min-height: 160px;
      padding: 46px 32px 38px 32px;
      margin-right: 16px;
      background: url(../../assets/image/gunparts-desc-bg.png) 50% / cover no-repeat;
      border-radius: 4px;
      box-sizing: border-box;

      &-image {
        position: absolute;
        top: -30px;
        right: 40px;
        width: 96px;
        height: 96px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &-box {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }

      &-name {
        width: 200px;
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 700;
        color: #000;
      }

      &-desc {
        font-size: 13px;
        font-weight: 700;
        color: #aaa;
      }
    }
  }
}

// swiper navigation
.swiper {
  overflow: visible !important;
}
.swiper-button-prev {
  position: absolute;
  left: -50px;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 20px;
  z-index: 9999;
  transform: scaleX(-1);
  cursor: pointer;

  svg {
    stroke: #000;
    fill: #000;
  }

  &.swiper-button-disabled {
    display: none;
    svg {
      stroke: transparent;
      fill: transparent;
    }
  }
}
.swiper-button-next {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 20px;
  z-index: 9999;
  cursor: pointer;

  svg {
    stroke: #000;
    fill: #000;
  }

  &.swiper-button-disabled {
    svg {
      stroke: transparent;
      fill: transparent;
    }
  }
}