.card-item {
  &-box {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 68.635%;
    padding-inline: 20px;
    background: url(../../assets/image/card-bg.png) 50% / cover no-repeat;
    transition: .2s ease-in-out;

    &:hover {
      transform: translateY(-16px);
      background-image: url(../../assets/image/card-bg-hover.png);

      .card-item-weaponName {
        color: #F2AA00;
      }
      .card-item-plusIcon {
        rotate: 90deg;
        filter: invert(88%) sepia(21%) saturate(1586%) hue-rotate(329deg) brightness(104%) contrast(94%);
      }
    }
  }

  &-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
  }

  &-plusIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all .2s ease-in-out;
  }

  &-weaponImage {
    position: absolute;
    top: 0;
    left: 0;

    .weapon-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-weaponName {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #716d67;
    font-weight: 700;
    letter-spacing: -.025em;
    transition: .2s ease-in-out;
  }
}