.header {
  position: relative;
  background: #000;
  height: 104px;

  &-inner {
    width: 100%;
    height: 100%;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .outline-btn-box {
    flex: 0 0 40%;
    .outlink-btn {
    }
  }

  .main-logo-box {
    flex: 0 1 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-logo {
      width: 139px;
      height: 48px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  
  .header-right-area {
    flex: 0 0 40%;
    display: flex;
    justify-content: flex-end;
    .local-btn-box {
      .locale-btn {
        padding: 8px;
        display: flex;
        align-items: center;

        .locale {
          margin: 0 8px 0 14px;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
    
    .login-btn-box {
      .login-btn {
        margin-right: 14px;
        padding: 8px;
        display: flex;
        align-items: center;

        .login {
          margin: 0 8px 0 14px;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }

    .play-btn {
      position: relative;
      width: 15.6vw;
      margin-right: -36px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -32px;
        left: 0;
        z-index: 0;
        background: url(../../assets/image/play_btn_bg.png);
        background-position: -482px 0;
        width: 100%;
        height: 104px;
        background-color: #f6bf00;
      }

      &::after {
        content: "";
        position: absolute;
        top: -32px;
        left: 0;
        width: 100%;
        height: 104px;
        background: transparent;
        mix-blend-mode: soft-light;
        transition: background 0.25s ease-in-out;
      }

      &:hover::after {
        background: #5a2502;
      }

      &_text {
        position: relative;
        color: #000;
        z-index: 1;
        font-weight: 700;
        font-size: 28px;
        letter-spacing: -.025em;
      }
    }
  }

  &-lnb {
    background-color: #222;
    height: 56px;

    &-list {
      margin: 0 auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 768px;
      padding-right: 36px;
      padding-left: 36px;
      box-sizing: border-box;

      &-item {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}